@import "../../styles/index.scss";

.sectionGallery {
  position: relative;
  max-width: 191.5rem;
  width: 100vw;
  height: 88rem;
  max-height: 88rem;
  margin: 0 auto;
  margin-top: 14.2rem;
  overflow: hidden;

  &__sectionTitle {
    position: absolute;
    font-size: 6.5rem;
    font-weight: bold;
    right: 18.6rem;
    top: 0rem;
    z-index: 2;

    @include breakpoint(1550px) {
      right: 3.6rem;
      top: 15rem;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      background-color: black;
      height: 2rem;
      right: 0;
      margin-top: 3.3rem;
      width: 44.5rem;
    }
  }

  &__pictureContainer {
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
  }

  &__pictureContainer0 {
    top: 0;
    left: 0;
    width: 32.4%;
    height: 100%;
  }
  &__pictureContainer1 {
    top: 0;
    left: 34%;
    width: 39.8%;
    max-height: 61.6%;
  }
  &__pictureContainer2 {
    bottom: 0;
    left: 34%;
    width: 39.8%;
    height: 36%;
  }
  &__pictureContainer3 {
    bottom: 0;
    left: 75.3%;
    width: 41%;
    height: 65%;
  }

  &__picture {
    cursor: pointer;
    transition: transform 0.3s linear;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__arrowLeftContainer,
  &__arrowRightContainer {
    top: 37.5rem;
    width: 12.8rem;
    height: 12.8rem;
    position: absolute;
    z-index: 1;

    .arrowButton__image {
      margin-left: 1rem;
    }
  }

  &__arrowLeftContainer {
    left: 1.6rem;
  }

  &__arrowRightContainer {
    right: 2.7rem;
  }
}
