@import "../../styles/variables.scss";

.navigation {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 15.2rem;
  z-index: 1;

  &__logo {
    margin-left: 17.3rem;
  }

  &__list {
    display: flex;
    width: 100%;
    padding-left: 18rem;
    text-decoration: none;
    align-items: center;
    list-style: none;
  }

  &__listItem {
    margin-top: 0.3rem;
  }

  &__listItem:not(:first-child) {
    margin-left: 6rem;
  }

  &__listItem:nth-child(4),
  &__listItem:nth-child(5) {
    margin-left: 10.7rem;
  }

  &__link {
    position: relative;
    text-decoration: none;
    font-size: 1.55rem;
    font-weight: 500;
    color: white;
    cursor: default;
    font-family: $Poppins;
    transition: 2s linear;

    &:after,
    &:before {
      position: absolute;
      left: 50%;
      top: 3.4rem;
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background-color: white;
      transition: 0.2s linear;
    }

    &:before {
      transform-origin: left;
      transform: scaleX(-1);
      transition: 0.2s linear;
    }

    &:hover:after {
      width: 50%;
      transform-origin: right;
    }
    &:hover:before {
      width: 50%;
      transform-origin: left;
    }
  }

  &__mediaContainer {
    display: flex;
    justify-content: space-between;
    width: 8rem;
    margin-left: 39.4rem;
    margin-top: 0.3rem;
  }
}
