@import "../../styles/index.scss";

.sectionOffer {
  max-width: 155.7rem;
  width: 100vw;
  margin: 0 auto;
  padding-top: 14.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  min-height: 99vh;

  @include breakpoint(1850px) {
    max-width: 87%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @include breakpoint(1400px) {
    max-width: 94%;
  }
  @include breakpoint(900px) {
    justify-content: space-around;
    align-items: flex-end;
  }
  @include breakpoint(750px) {
    justify-content: space-around;
    max-width: 97%;
  }
  @include breakpoint(500px) {
    justify-content: space-between;
    max-width: 70%;
  }
  @include breakpoint(350px) {
    max-width: 74%;
  }

  &__textItemContainer {
    max-width: 29rem;
    max-height: 36rem;

    &__text {
      position: relative;
      font-size: 4.8rem;
      font-weight: bold;
      line-height: 5.8rem;

      &:after {
        position: absolute;
        display: block;
        content: " ";
        width: 13rem;
        margin-top: 4.4rem;
        height: 1rem;
        background-color: black;
      }
    }
  }

  &__itemContainer {
    min-width: 29rem;
    height: 31rem;
    width: 76%;

    @include breakpoint(1850px) {
      height: 100%;
    }

    @include breakpoint(500px) {
      min-width: 18rem;
    }

    &__image {
      display: block;
      max-width: 100%;
      width: auto;

      @include breakpoint(1850px) {
        margin: 0 auto;
        height: 35%;
        margin-top: 5rem;
      }
    }

    &__text {
      display: inline-block;
      white-space: pre-line;
      font-size: 2.8rem;
      font-weight: 400;
      margin-top: 3.8rem;
      line-height: 3.9rem;

      @include breakpoint(1850px) {
        text-align: center;
        width: 100%;
        margin: 3.9rem auto 0 auto;
      }
    }
  }

  &__itemContainer:nth-of-type() &__text {
    font-size: 50px;
  }

  &__itemContainer:nth-of-type(2) {
    margin-top: 9.7rem;
    margin-left: 3.3rem;
  }
  &__itemContainer:nth-of-type(3) {
    margin-top: 10.5rem;
    margin-left: 6.6rem;
  }
  &__itemContainer:nth-of-type(4) {
    margin-top: 9.5rem;
    margin-left: 10rem;
  }
  &__itemContainer:nth-of-type(5) {
    margin-top: 4.5rem;
    margin-left: 0;
    margin-bottom: -2px;
  }
  &__itemContainer:nth-of-type(6) {
    margin-top: 5.5rem;
    margin-left: 3.2rem;
  }
  &__itemContainer:nth-of-type(7) {
    margin-top: 3.7rem;
    margin-left: 6.5rem;
  }

  &__itemContainer:nth-of-type(8) {
    margin-top: 5.5rem;
    margin-left: 10rem;
  }

  &__itemContainer:nth-of-type(2),
  &__itemContainer:nth-of-type(3),
  &__itemContainer:nth-of-type(4),
  &__itemContainer:nth-of-type(5),
  &__itemContainer:nth-of-type(6),
  &__itemContainer:nth-of-type(7),
  &__itemContainer:nth-of-type(8) {
    @include breakpoint(1850px) {
      width: 31rem;
      margin: 0 0;
      height: 31rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    @include breakpoint(500px) {
      width: 19rem;
    }
  }

  &__buttonContainer {
    position: relative;
    width: 37.75rem;
    display: flex;
    background-color: black;
    align-items: center;
    height: 7.8rem;
    overflow: hidden;

    @include breakpoint(1100px) {
      margin-top: 5rem;
    }

    @include breakpoint(500px) {
      width: 42rem;
    }
    @include breakpoint(350px) {
      width: 44rem;
    }

    &__text {
      display: inline-block;
      letter-spacing: 3.5px;
      color: white;
      font-size: 1.8rem;
      font-weight: bold;
      pointer-events: none;
      transition: 0.3s ease-out;
      z-index: 2;
      width: 100%;
      line-height: 7.8rem;
      padding-left: 3rem;
    }

    &:before {
      display: block;
      position: absolute;
      content: "";
      left: -82%;
      height: 100%;
      width: 82%;
      background-color: #ffcc48;
      transition: 0.3s ease-out;
    }

    &:hover:before {
      left: 0;
    }

    &:hover &__text {
      color: black;
    }

    &__icon {
      position: absolute;
      filter: invert(100%) sepia(0%) saturate(176%) hue-rotate(200deg) brightness(117%) contrast(100%);
      height: 50%;
      width: 10%;
      right: 1.5rem;
      background: url("../../assets/arrowRight.svg") no-repeat center / cover;
    }
  }
}
